VITE_SUPABASE_URL=https://nhhrvqiibgtjwpdlckgc.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5oaHJ2cWlpYmd0andwZGxja2djIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTAxNzE1MjgsImV4cCI6MjEwNTc0NzUyOH0.lWcJN2_mb1dJbQviqRjszQT5jo5mf1LpDmvgA0fyUHY
VITE_MAPBOX_PUBLIC_TOKEN=
